@import "tailwindcss";

body,
html,
#root {
  font-family: 'Nunito', sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 70s linear infinite;
}

@layer base {
  :root {
    --primary: #1F2937;
    --secondary: #22C55E;
    --accent: #FBBF24;
  }
}

button {
  cursor: pointer;
}